*

# do not ignore folders (removing this causes all to be gitignored)
!*/

# python system
!.python-version
!uv.lock
!pyproject.toml

# git
!.gitignore

# documentation
!justfile
!**/README.md
!EQUIPMENT_V1.md
!EQUIPMENT_V2.md

# code
!*.py
